.box-layout {
    align-items: center;
    background: url('/images/bg.jpg');///path from public directory
    background-size: cover;//for small and big screen
    display: flex;
    height: 100vh;//100% of view port height
    justify-content: center;
    width: 100vw;
  }
  
  .box-layout__box {
    background: fade-out(white, .5);
    border-radius: 3px;
    padding: $l-size $m-size;
    text-align: center;
    width: 25rem;
  }
  
  .box-layout__title {
    margin: 0 0 $m-size 0;
    line-height: 1;
  }
  